@model InmobiliariaFramework.Models.ViewModel.PropietarioViewModel
@{
    ViewBag.Title = "";
}

<form>
    <div class="row">
        </br></br>
        <div class="form-group" align="left">
            &nbsp   &nbsp &nbsp &nbsp &nbsp &nbsp   @Html.LabelFor(d => d.Dni)
            @Html.TextBoxFor(d => d.Dni, new { id = "Dni" })
        </div>
        <div class="form-group" align="left">
            &nbsp    @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { id = "Nombre" })
        </div>
        <div class="form-group" align="left">
            &nbsp   @Html.LabelFor(d => d.Apellido)
            @Html.TextBoxFor(d => d.Apellido, new { id = "Apellido" })
        </div>
        <div class="form-group" align="left">
            &nbsp   @Html.LabelFor(d => d.Telefono)
            @Html.TextBoxFor(d => d.Telefono, new { id = "Telefono" })
        </div>
        <div class="form-group">
            &nbsp    &nbsp &nbsp &nbsp &nbsp   @Html.LabelFor(d => d.Mail)
            @Html.TextBoxFor(d => d.Mail, new { id = "Mail" })
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.Password)
            @Html.TextBoxFor(d => d.Password, new { id = "Password" })
        </div>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="button" value="Guardar" onclick="jsAdd()" />
    </div>
</form>
<script>
    var url = "@Url.Content("~/Propietario/Save")";
    function jsAdd() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                Dni: document.getElementById("Dni").value,
                Nombre: document.getElementById("Nombre").value,
                Apellido:document.getElementById("Apellido").value,
                Telefono:document.getElementById("Telefono").value,
                Mail:document.getElementById("Mail").value,
                Password:document.getElementById("Password").value
            }),
            headers: {
                'Acept': "application/json",
                "Content-Type":"application/json"
            }
        }).then(function (response) {
            if (response.ok)
                return response.text()
            else
                alert("Error");
        }).then(function (Data) {
            if (Data != 1) {
                alert(Data)
            }
            else {
                document.location.href = "@Url.Content("~/Propietario/")";
            }
        })
    }
</script>

